<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>
    <link rel="stylesheet" type="text/css" href="/static/regsiter/css/regist.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/header.css">
</head>

<body>

    <nav class="navbar navbar-nav navbar-fixed-top my-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="#">52诗词网管理员端</a>
            </div>

            <ul class="nav navbar-nav navbar-left ">

                <li><a href="#">Hi，请登录/注册</a></li>


            </ul>
            <ul class="nav nav-pills navbar-right  " style="color:black">
                <li><a href="#">诗词首页</a></li>



                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">作者目录
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="min-width:100%">
                        <li>
                            <a href="#">诗</a>
                        </li>

                        <li>
                            <a href="#">词</a>
                        </li>
                        <li>
                            <a href="#">曲</a>
                        </li>
                        <li>
                            <a href="#">赋</a>
                        </li>

                    </ul>

                </li>



                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">诗词大全
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="min-width:100%">
                        <li>
                            <a href="#">诗</a>
                        </li>

                        <li>
                            <a href="#">词</a>
                        </li>
                        <li>
                            <a href="#">曲</a>
                        </li>
                        <li>
                            <a href="#">赋</a>
                        </li>

                    </ul>

                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人中心
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="min-width:100%">
                        <li>
                            <a href="#">个人信息</a>
                        </li>

                        <li>
                            <a href="#">修改信息</a>
                        </li>
                        <li>
                            <a href="#">常见问题</a>
                        </li>
                        <li>
                            <a href="#">在线投诉</a>
                        </li>

                    </ul>

                </li>
                <li><a href="#">关于我们</a></li>
                 

            </ul>



        </div>
    </nav>




    <div class="bg">

        <div class="container">



            <div class="row">



                <div class="form-container" style=" max-width: 500px;
                margin: 0 auto;">
                    <h1>登录 <small>没有账号？<a href="signup.html">注册</a></small></h1>
                    <form>
                        <div class="form-group">
                            <label>用户名/手机/邮箱</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input type="password" class="form-control">
                        </div>
                        <p>忘记密码？</p>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(".navbar").offset().top > 50) {
                $(".navbar-fixed-top").addClass("top-nav");
            } else { $(".navbar-fixed-top").removeClass("top-nav"); }
        })
    </script>
</body>

</html>