<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>吉阳区港门村居委会党员信息管理系统(管理员)</title>
</head>
<body>
<form action="/admin/member-alter" method="post" >
	<input type="text" class="input-text"    placeholder="输入要修改的党员编号"  name="id"><br>
	<input type="text" class="input-text"    placeholder="姓名" id="username" name="username"><br>
	<input type="text"  class="input-text"  placeholder="年龄" id="age" name="age"><br>
	<input type="text" class="input-text"    placeholder="性别" id="sex" name="sex"><br>
	<input type="text"  class="input-text"  placeholder="所在支部" id="zhibu" name="zhibu"><br>
	<input type="text"  class="input-text"  placeholder="入党时间(2018-9-8)" id="time" name="time"><br>
	<input type="text" class="input-text"   placeholder="文化程度" id="education" name="education"><br>
	<input type="text"  class="input-text"  placeholder="家庭住址" id="address" name="address"><br>
	<input type="text" class="input-text"   placeholder="每年应缴党费" id="dangfeiyear" name="dangfeiyear"><br>
	<input type="text"  class="input-text"  placeholder="缴纳党费的的年数" id="dangfeiyears" name="dangfeiyears"><br>
	<input type="text"  class="input-text"  placeholder="已缴纳党费总额" id="yijingdangfei" name="yijingdangfei"><br>
	<input type="text" class="input-text"   placeholder="应缴纳党费" id="xuyaodangfei" name="xuyaodangfei"><br>



	<input type="submit" value="提交">


</form>



</body>
</html>